:root {
	--label-color:  #4f4f4f;
	--input-border:  black;
	--focus-color: #4ad4a6;
	--button-background: #d6d6d6;
}

html {
	font-size: 62.5%;
}

form {
	margin: 25vh auto;
	width: 85rem;
}

form div {
	position: relative;
	width: 30rem;
	margin: 2rem 5.25rem;
	display: inline-block;
}

form div:nth-child(4) {
	width: 71rem;
}

input {
	width: 100%;
	height: 4rem;
	margin: 0;
	font-size: 1.5rem;
	outline: none;
	border: none;
	border-bottom: 1.5px solid var(--input-border);
	padding: 0 1rem;
}

label {
	position: absolute;
	left: 0;
	font-size: 1.5rem;
	color: var(--label-color);
	padding: 1.15rem 1rem;
	font-family: sans-serif;
	transition: all 0.4s ease;
}

input:focus + label {
	top: -1rem;
	padding: 0 1rem;
	color: var(--focus-color);
}

input:focus {
	border-color: var(--focus-color);
}

.btn {
	width: 30rem;
	height: 5rem;
	border: none;
	color: var(--label-color);
	font-size: 1.5rem;
	background: none;
	transition:  all 0.3s ease-out;
}

div:last-child {
	background: var(--button-background);
	z-index: 0;
	border-radius: 0.75rem;
}

div:last-child:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	border-radius: 0.75rem;
	transform: scaleX(0);
	transform-origin: left;
	background: var(--focus-color);
	transition: all 0.4s ease;              
}

div:last-child:hover:before {
	transform: scaleX(1);	
}

div:last-child:hover .btn {
	color: white;
}
